<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Billete - TIB </title>
</head>

<body>
    <header class="header-mobile">
        <div class="mobile-logo-header">
            <img class="logo-item" src="./images/tib-logo.svg" alt="Logo TIB">
        </div>
        <div class="icons-mobile-header">
            <img src="./images/user-icon.svg" alt="user header">
            <img src="./images/hamburger-button.svg" alt="hamburger-button">
        </div>
    </header>
    
    <div class="ticket-card">
        <div class="ticket-qr">
            <h3 class="title">MI BILLETE</h3>
            <img src="./images/codigo-qr.png" alt="codigo QR">
        </div>

        <div class="ticket-start">
            <p class="title">ESTACIÓN</p>
            <div class="ticket-item">
                <img src="./images/bus-icon.svg" alt="Icono bus">
                <div>
                    <p class="title_estacion">Paguera</p>
                    <p>C/Bonavida n3</p>
                </div>
                <p>13:55</p>
            </div>
        </div>

        <div class="ticket-route">
            <p class="title">TRAYECTO</p>
            <div class="ticket-item">
                <p class="trayecto">Paguera</p>
                <img src="./images/flecha.svg" alt="flecha">
                <p class="trayecto">Palma</p>
            </div>
        </div>

    </div>

    <footer class="footer-mobile">
        <div class="legal">
            <p>Contacto</p>
            <p>Nota Legal</p>
        </div>
        <div class="politics">
            <p>Política de Cookies</p>
            <p>Política de privacidad</p>
        </div>

        <div class="logo-footer">
            <img src="./images/tib-logo.svg" alt="logo-footer">
        </div>
        <div class="icon-footer">
            <img class="facebook-footer" src="./images/facebook.svg" alt="facebook-footer">
            <img class="twitter-footer" src="./images/twitter.svg" alt="twitter-footer">
        </div>
    </footer>
</body>
</html>