<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/index.css">
        <title>Página de lineas - TIB</title>
    </head>
    <body>
        <header class="header-mobile">
            <div class="mobile-logo-header">
                <img class="logo-item" src="../images/tib-logo.svg" alt="Logo TIB">
            </div>
            <div class="icons-mobile-header">
                <img src="../images/user-icon.svg" alt="user header">
                <img src="../images/hamburger-button.svg" alt="hamburger-button">
            </div>
        </header>

        <ul class="menuweb">
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="./lineas.html">LINEAS</a></li>
            <li><a href="./rutas.html">RUTAS</a></li>
            <li><a href="./shop.html">SHOP</a></li>
            <li><a href="./billete-qr.html">BILLETE</a></li>
        </ul>

        <div class="lines-wrapper">
            <h3>Lineas</h3>
            <div class="lines">
                <div class="lines__item">100</div>
                <div class="lines__item">200</div>
                <div class="lines__item">300</div>
                <div class="lines__item">400</div>
                <div class="lines__item">500</div>
                <div class="lines__item">600</div>
            </div>
        </div>

        <div class="routes-wrapper">
            <h3>Rutas</h3>
            <div class="routes">
                <div class="routes__item">
                    <h4>102</h4>
                    <p>Andratx - Palma</p>
                </div>

                <div class="routes__item">
                    <h4>103</h4>
                    <p>Andratx - Calvia</p>
                </div>
                <div class="routes__item">
                    <h4>104</h4>
                    <p>Andratx - Santa Ponsa</p>
                </div>
                <div class="routes__item">
                    <h4>105</h4>
                    <p>Andratx - Es Capdellá</p>
                </div>
                <div class="routes__item">
                    <h4>106</h4>
                    <p>Calvia - Palma</p>
                </div>
                <div class="routes__item">
                    <h4>107</h4>
                    <p>Santa Ponsa - Palma</p>
                </div>
                <div class="routes__item">
                    <h4>108</h4>
                    <p>Paguera - Palma</p>
                </div>
                <div class="routes__item">
                    <h4>109</h4>
                    <p>Paguera - Calvia</p>
                </div>
                <div class="routes__item">
                    <h4>110</h4>
                    <p>Paguera - Son Ferrer</p>
                </div>
                <div class="routes__item">
                    <h4>111</h4>
                    <p>Paguera - Magalluf</p>
                </div>
            </div>
        </div>

        <footer class="footer-mobile">
            <div class="legal">
                <p>Contacto</p>
                <p>Nota Legal</p>
            </div>
            <div class="politics">
                <p>Política de Cookies</p>
                <p>Política de privacidad</p>
            </div>
    
            <div class="logo-footer">
                <img src="../images/tib-logo.svg" alt="logo-footer">
            </div>
            <div class="icon-footer">
                <img class="facebook-footer" src="../images/facebook.svg" alt="facebook-footer">
                <img class="twitter-footer" src="../images/twitter.svg" alt="twitter-footer">
            </div>
        </footer>
    </body>
</html>