<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/index.css">
    <title>Ruta 102 - TIB </title>
</head>

<body>
    <div class="route-card">
        <div class="route-card__map">
            <h3 class="section__title">Ruta</h3>
            <img src="/src/images/map.png" alt="Mapa ruta 102">
        </div>

        <div class="route-card__download">
            <p class="section__title">Descarga el horario</p>
            <div class="input-download">
                <img class="input__icon input-calendar__icon" src="/src/images/calendar-icon.svg" alt="Calendario">
                <p>MARZO</p>
                <img class="input__icon input-download__icon" src="/src/images/download-icon.svg" alt="Descargar">
            </div>

        </div>

        <div class="route-card__stand">
            <p class="section__title">Próximas Paradas</p>
            <div class="input-stand">
                <img src="/src/images/bus-icon.svg" alt="Icono bus">
                <div class="input-stand__location">
                    <p class="location__title">Paguera</p>
                    <p class="location__adress">Calle Bonavida</p>
                </div>
                <p>5 min</p>
            </div>
            <div class="input-stand">
                <img src="/src/images/bus-icon.svg" alt="Icono bus">
                <div class="input-stand__location">
                    <p class="location__title">Paguera</p>
                    <p class="location__adress">Calle Numancia</p>
                </div>
                <p>8 min</p>
            </div>
            <div class="input-stand">
                <img src="/src/images/bus-icon.svg" alt="Icono bus">
                <div class="input-stand__location">
                    <p class="location__title">Santa Ponsa</p>
                    <p class="location__adress">Calle Luminat</p>
                </div>
                <p>16 min</p>
            </div>
        </div>
</body>

</html>