<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/src/css/index.css">
        <title>Comprar Billete - TIB</title>
    </head>

    <body>

        <div class="shop">
            <div class="shop__form">
                <h3 class="section__title">Comprar billete </h3>
                <div class="content-select">
                    <p>Elije tu origen</p>
                    <img class="select__icon" src="/src/images/select-icon.svg" alt="">
                </div>
                <div class="content-select">
                    <p>Elije tu destino</p>
                    <img class="select__icon" src="/src/images/select-icon.svg" alt="">
                </div>
                <div class="content-select">
                    <p>Número de pasajeros</p>
                    <img class="select__icon" src="/src/images/select-icon.svg" alt="">
                </div>
                <div class="content-select">
                    <p>Fecha y hora</p>
                    <img class="select__icon" src="/src/images/calendar-icon.svg" alt="">
                </div>
            </div>
            <div class="shop__result">
                <h3 class="section__title">Resultado</h3>

                <div class="result__item">
                    <p>17:55</p>
                    <div class="input-stand__location">
                        <p class="location__title">Paguera - Palma</p>
                        <p class="location__adress">15€</p>
                    </div>
                    <p>18:25</p>
                </div>

                <div class="result__item">
                    <p>19:55</p>
                    <div class="input-stand__location">
                        <p class="location__title">Paguera - Palma</p>
                        <p class="location__adress">15€</p>
                    </div>
                    <p>20:25</p>
                </div>

                <div class="result__item">
                    <p>20:55</p>
                    <div class="input-stand__location">
                        <p class="location__title">Paguera - Palma</p>
                        <p class="location__adress">15€</p>
                    </div>
                    <p>21:25</p>
                </div>

                <div class="result__button">
                    <div class="result__button__item">Comprar</div>
                    <div class="result__button__item">Borrar</div>
                </div>
            </div>
        </div>

        <footer class="footer-mobile">
            <div class="legal">
                <p>Contacto</p>
                <p>Nota Legal</p>
            </div>
            <div class="politics">
                <p>Política de Cookies</p>
                <p>Política de privacidad</p>
            </div>
    
            <div class="logo-footer">
                <img src="/src/images/tib-logo.svg" alt="logo-footer">
            </div>
            <div class="icon-footer">
                <img class="facebook-footer" src="/src/images/facebook.svg" alt="facebook-footer">
                <img class="twitter-footer" src="/src/images/twitter.svg" alt="twitter-footer">
            </div>
        </footer>
    </body>
</html>