@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 500;
}

body{
    background-color: #575757;
}


/***************************************************/
/*Header Rules*/
.header-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: #2323;
    min-height: 2.5rem;
    padding: 1.3rem;
}

.header-container .logo-item {
    max-width: 8rem;
}

.links-list {
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.links-list img {
    max-width: 2rem;
    max-height: 2rem;
}

#hamburger-button{
    display: none;
}


@media (max-width: 575px) {

    #hamburger-button{
        display: flex;
    }

    .navbar-item{
        display: none;
    }

    .links-list img {
        max-width: 1rem;
        max-height: 1rem;
    }

    .header-container .logo-item {
        max-width: 3rem;
    }
    
  }
/*Header Rules*/
/***************************************************/
/***************************************************/



/* LINEAS PAGE */
/***************************************************/

.lines-wrapper{
    background: white;
    padding: 2rem;
    border-radius: 2rem;
    margin: 1rem;
    text-align: center;
}

.lines-wrapper h3{
    font-size: clamp(2rem,3vw,4rem);
    margin-bottom: 2rem;
}

.lines{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 4rem;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,6rem),1fr));


}

.lines__item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background: #BDBDBD;
    color: black;
    font-size: clamp(1rem, 2.5vw, 2rem);
    border-radius: 1rem;
}


.routes-wrapper{
    background: white;
    padding: 2rem;
    border-radius: 2rem;
    margin: 1rem;
    text-align: center;
}

.routes-wrapper h3{
    font-size: clamp(2rem,3vw,4rem);
    margin-bottom: 2rem;
}

.routes{
    display: grid;
    grid-auto-rows: 6rem;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,7.5rem),1fr));
    gap: 3rem;
}

.routes__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
        
    background: #BDBDBD;
    color: black;
    font-size: clamp(1rem, 2.5vw, 1rem);
    border-radius: 1rem;
}

.routes__item h4{
    font-size: 1.5rem;
}

/***************************************************/
/***************************************************/


/* Rutas page */
/* *********************************************** */

.route-card{
    
    background: white;
    padding: 2rem;
    border-radius: 2rem;
    margin: 1rem;
    text-align: center;

    display: grid;
    grid-auto-columns: repeat(auto-fill,minmax(10rem,25rem));
    grid-template-rows: repeat(auto-fit,minmax(1fr,20rem));
    gap: 3rem;
    align-content: center;

}

/* Map */
.route-card__map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .route-card__map img {
        max-width: 25rem;
        width: 100%;
    }


/* Download */
.input-download{
    background: rgba(162, 162, 162, 0.707);

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4rem;
}

.input__icon{
    background: rgb(65, 64, 64);
    width: 25px;
    padding: 0.5rem;
}

.input-calendar__icon{
    border-bottom-left-radius: 4rem;
    border-top-left-radius: 4rem;

}

.input-download__icon{
    border-bottom-right-radius: 4rem;
    border-top-right-radius: 4rem;
}

/* Stand */

.section__title{
    font-size: clamp(2rem,3vw,5rem);
}

.route-card__stand{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.input-stand{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 0.5rem;
    background: rgba(162, 162, 162, 0.707);
    border-radius: 1rem;
    min-height: 4rem ;
}

.input-stand img{
    width: 50px;
}

.input-stand__location{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.location__title{
    font-weight: 700;
    text-decoration: underline;
}
/* *********************************************** */





/* Shop Page */
/* *********** */

.shop{
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(1fr,20rem));
    margin: 1rem;
    border-radius: 1rem;
    background: white;
    text-align: center;
    align-content: center;
    padding: 1rem;
    gap: 4rem;

}

.content-select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C4C4C4;
    border-radius: 2rem;
    height: 1rem;
    cursor: pointer;
    padding: 1rem;
    margin-top: 1rem;
}

.result__item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 0.5rem;
    background: rgba(162, 162, 162, 0.707);
    border-radius: 1rem;
    min-height: 5rem ;
    margin: 1rem;
}

.result__button{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.result__button__item{
    padding: 1rem;
    border-radius: 2rem;
    background: rgba(162, 162, 162, 0.707);
}

/* Ticket page */
/* *********************************************** */

.ticket-card{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    margin: 1rem;
    border-radius: 1rem;
    background: white;
    text-align: center;
    align-content: center;
    padding: 1rem;
    gap: 3rem;
    row-gap: 1rem;
}

.ticket-start{
    text-align: center;
}

.ticket-card img{
    width: 100%;
    height: 80%;
}

.ticket-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 0.5rem;
    background: rgba(162, 162, 162, 0.707);
    border-radius: 1rem;
    min-height: 4rem ;
}

.title{
    font-weight: 700;
    font-size: 30px;
}

.title_estacion{
    text-decoration: underline;
}

.trayecto{
    font-size: 25px;
}

.ticket-item img{
    width: 15%;
    height: 15%;
}

/* *********************************************** */

